body{
	margin: 0 auto;
	font-family: sans-serif;
	max-width: 1000px;
}
#banner{
	background-color: #cee6d9;
	width: 100%;
	height: 98px;
	border-bottom: 4px solid #afe3d6;
	margin-bottom: 110px;
}
h2.upload{
	position: relative;
	left: 300px;
	bottom: 75px;
	font-weight: normal;
	border: 3px solid #6BC0AB;
	display: inline;
	padding: 8px;
	font-size: 18px;

}
h1{
	background-image: url('../images/logo.png');
	width: 266px;
	height: 203px;
	text-indent: -9999px;
	position: absolute;
	top: -20px;
}
a{
	text-decoration: none;
	color: #000;
}

form  {
	float: right;
	padding: 10px 5px 0 0;
}
/*TERMS*/
#content h2, #content h3{
	font-family: 'News Cycle', sans-serif;
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 10px;
}

#content p {
	font-family: 'Open Sans Condensed', sans-serif;	
	font-size: 20px;
	line-height: 30px;
	padding-top: 0;
	margin: 0;
	padding-bottom: 10px;
}
#content h3 {
	color: #98D3C4;
}
#content li{
	list-style-type: none;
	margin-bottom: 2px;
	font-weight: bold;
}
#content ul.list li,
#content ol.list li {
	font-weight: normal;
	padding-bottom: 10px;
}
#content ol.list li {
	list-style-type: upper-roman;
}
#content ul.list li{
	list-style-type: circle;
	margin-left: 40px;
}

#wrapper {
	float: left;
	width: 60%;
}

/*NEWEST UPLOADS STYLES*/


#wrap {
	float: left;
	width: 100%;

}
.post {
	float: left;
	padding: 10px;
	margin: 0;
	background-color: #FFF;

}

img {
	max-height: 100%;
	max-width: 100%;
}






div.uploadfeed{
	height: 267px;
	width: 168px;
	border: 3px solid #afe3d6;
	text-align: center;
	line-height: 25px;
}



div.uploadfeed img.thumbs{
	padding: 10px;
}


/*Search Room Styles*/
.search-results{
	width: 100%;
	padding: 10px;
	margin: 0;
}
.search-results article{
	float: left;
	padding: 10px;
}
#searchform {
	font-family: 'Open Sans Condensed', sans-serif;	
	margin-right: 30px;
}
#searchform #phrase{
	width: 200px;
	padding: 8px;
	background-color: #98d3c4;
	border: none;
	color: #fff;
	font-size: 18px;
}
#searchform #searchbutton{
	border: none;
	background-color: #98d3c4;
	font-size: 22px;
	padding-bottom: 7px;
	padding-top: 3px;
}


/************************/

/*DECOR OF WEEK ASIDE STYLES*/

#sidebar {
	background-color: #cee6d9;
	float: right;
	width: 30%;
	border: 4px solid #afe3d6;
}
#sidebar #vote_yes {
	float: left;
	padding: 15px;
	margin-left: 60px;
}
#sidebar #vote_no {
	padding: 15px;
	margin-left: 170px;
}
#sidebar h3 {
	text-align: center;
	color: #000;
}
#sidebar a{
	text-decoration: none;
	color: #000;
}
#sidebar h4{
	margin: 0;
	padding: 5px 0;
	font-weight: normal;
	font-size: 22px;
	text-align: center;
}
#sidebar p{
	text-align: center;
	padding: 0;
}
/********************/

ul{
	padding: 0;
	margin: 0;
}

#logout ul{
	font-size: 28px;
	margin-left: 270px;
	padding-top: 60px;
}

#logout ul li {
	list-style-type: none;
	display: inline;
	padding: 10px 25px;
}
#logout ul li a{
	text-decoration: none;
	color: #000;
	font-family: 'little_lord_fontleroy_nfRg';
}




/*                     */
/* PROFILE PAGE STYLES*/
/*                     */
header#profilepage h2{
	font-family: 'Open Sans Condensed';
	font-size: 50px;
	font-weight: normal;
	position: relative;
	bottom: 80px;
	left: 300px;
}
.profilenav ul li {
	list-style-type: none;
	display: inline;
	padding: 10px;
	font-family: 'Open Sans Condensed';
	position: relative;
	bottom: 80px;
}
.profilenav ul li a{
	text-decoration: none;
	color: #000;
	margin-left: 40px;
	font-size: 28px;
}
.userpic {
	border: 1px solid #AFE3D6;
	float: left;
	max-height: 150px;
	position: relative;
	bottom: 80px;
}


/*MAIN STYLES for all pages (used id main)*/
#main {
	font-family: 'Open Sans Condensed';
	font-weight: normal;
	width: 960px;

}

/*ABOUT STYLES*/
#main .para {
	font-size: 20px;
	line-height: 40px;
}



/* FOOTER STYLES*/
footer {
	background-color: #cee6d9;
	width: 100%;
	height: 98px;
	border-top: 4px solid #afe3d6;
	clear: both;
}

ul{
	padding: 0;
	margin: 0;
}

#footernav ul{
	font-size: 28px;
	padding-top: 10px;
}

#footernav ul li {
	list-style-type: none;
	display: inline;
	padding: 10px 25px;
}
#footernav ul li a{
	text-decoration: none;
	color: #000;
	font-family: 'little_lord_fontleroy_nfRg';
}
 div.copyright {
	font-size: 11px;
	text-align: right;
	padding-right: 10px;
	padding-top: 40px;
}




/** FONTS **/


@font-face {
    font-family: 'little_lord_fontleroy_nfRg';
    src: url('../fonts/littlelordfontleroynf-webfont.eot');
    src: url('../fonts/littlelordfontleroynf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/littlelordfontleroynf-webfont.woff2') format('woff2'),
         url('../fonts/littlelordfontleroynf-webfont.woff') format('woff'),
         url('../fonts/littlelordfontleroynf-webfont.ttf') format('truetype'),
         url('../fonts/littlelordfontleroynf-webfont.svg#little_lord_fontleroy_nfRg') format('svg');
    font-weight: normal;
    font-style: normal;

}